doctype html
html
    head
        title Hello - #{title}
        block style
    body
        block content
        footer#footer 
            | Our footer here
        script
            include ../static/script.js