extends base.pug

block content
    h1 Hello Debajyoti !!!
    p #{content}

    //- semantic tags
    //- header, section, form, table, article, aside, footer
    section#introSection
        | Section for introduction 
    section#sponsorSection
        | Section for sponsors