extends base.pug

block style
    style
        include ../static/style.css
block content
    nav#navbar
        ul
            div#logo 
                img(src="/static/logo.jpg" alt="Logo image" class="logoImg")
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Contact us]
            li #[a(href='/') More]

    h1 Hello Debajyoti !!!
    p #{content}

    //- semantic tags
    //- header, section, form, table, article, aside, footer
    section#introSection
        | Section for introduction 
    section#sponsorSection
        | Section for sponsors