<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain HTML in PUG</title> -->
    <title>#{title}</title>

    <!-- TO LINK STYLE  -->

    <!-- USE HTML FORMAT -->
    <!-- <link rel="stylesheet" href="static/style.css"> -->

    <!-- OR -->
    <!-- USE PUG FORMAT -->

    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact Us</li>
        </ul>
    </nav>
    <h1>
    | #{content}
    | <!-- This is a plain HTML using pug !!! -->
    </h1>
</body>
</html>  